* {
    padding: 0px;
    margin: 0px;
}
body > header {
    border: solid;
    background-color: cornflowerblue;
    margin: 10px;
    position: fixed;
    width: calc(100% - 26px);
    z-index: 200;
}
body > header > * {
    vertical-align: top;
}
body > header > img {
    width: 120px;
    height: 40px;
    position: relative;
    left: -40px;
    top: 0px;
    margin-right: -80px;
}
body > header > h1 {
    /*left: -80px;*/
    display: inline-block;
    position: relative;
    width: calc(100% - 70px);
}
.clearfix {
    overflow: auto;
    clear: both;
}
   /* background-position: center ;
   background-position: 45% -3px;
    background-repeat: no-repeat;*/
.main-content {
    margin-top: 80px;
}
.main-content > nav  {
    border: solid;
    background-color: greenyellow;
    text-align: center;
    margin: 10px;
}
.main-content > nav > ul > li {
    display: inline-block;
    margin: 5px;
}
.main-content > section {
    margin-left: 20%;
    width: 60%;
    z-index: 2;
}
.main-content > aside.pc {
    background-color: grey;
    z-index: 2;
}
@media screen and (min-width: 1020px) {
    .main-content > aside.pc {
        background-color: hotpink;
        width: 18%;
        vertical-align: top;    
        text-align: right;
        margin-top: 4.8em;
        /* display: inline-block;*/
        float: right;
    }
    .main-content > aside.movil {
        display: none;
    }
}
@media all  and (min-width: 720px) and (max-width: 1019px){
    .main-content > aside.pc {
        background-color: indigo;
        width: 15%;
        min-width: 40px;
        vertical-align: top;    
        text-align: right;
        margin-top: 2.8em;
        display: inline-block;
    }
    .main-content > aside.movil {
        display: none;
    }
}
@media screen and (max-width: 719px) {
    .main-content > aside.pc {
        display: none;
    }
    .main-content > aside.movil {
        background-color: hotpink;
        margin-left: -10em;
        display: block;
        width: 100%;     
        text-align: center;        
    }
    .main-content > aside.movil li{
        display: inline-block;
    }
}
.main-content > aside ul {
    list-style: none;
    padding: 5px;
}
.main-content > aside > div {
    border: solid;
    background-color: greenyellow;  
    text-align: right;
    position: relative;
    right: -50%;
    width: 50%;
    text-align: left;
    min-width: 5em;
}
section > * > article {
    border: solid;
    background-color: orange;
}
section > h1, section > h2 {
    margin-top: 0.5em;
    margin-left: 0.2em;
}
.main-content > section, 
.main-content > aside,
.columna-articulo
{
    display: inline-block;
}
.columna-articulo {
    vertical-align: top;
    min-width: 10em;
    width: calc(50% - 10px);
}
@media screen and (min-width: 820px) {
    .columna-articulo {
        min-width: 10em;
        width: calc(50% - 10px);
    }
}
@media screen and (max-width: 820px) {
    .columna-articulo {
        min-width: 7em;
        width: calc(100% - 10px);
    }
}
.columna-articulo > article {
    margin: 5px;
    padding: 1em 1em 1em 2em;
}
.columna-articulo > article ul {
    margin-left: 30px;
}
.pie-pagina {
    background-color: cornflowerblue;    
    border: solid;
    margin: 10px;
    margin-bottom: 20px;
    width: calc(100% - 26px);
    bottom: 10px;
}