* {
    padding: 0px;
    margin: 0px;
}
#contenedor {
    margin: 5px 80px ;
    width: 60%;
    height: 80vh;
    border: solid;
    display: flex;
    align-content: stretch;
    flex-direction: row;
}
.item {
    flex-grow:
    font-size: 60px;
}
.item:hover {
    background-color: paleturquoise;
    min-width: 120px;
    max-width: 180px;
}
.item-1 {
    width: 60px;
    background-color: moccasin;
}
.item-2 {
    width: 90px;
    background-color: palegoldenrod;
}
.item-3 {
    width: 200px;
    background-color: peachpuff;
}
.item-4 {
    width: 200px;
    background-color: whitesmoke; 
}
