/* Selector universal afecta a todos los elemnos */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif !important ;
}
body {
}
/* Selector de etiqueta*/ 
div {
    /* Borde de 2 pixeles púrpura y sólido */
    border: 2px solid rebeccapurple;
    font-family: 'Courier New', Courier, monospace ;
}

/* Selector por ID */
#seccion_1 {
    margin: 20px;
}
#parr_1 {
    margin-top: 30px;
    margin-left: 10px;
    border: 2px solid orange;
    font-family: 'Courier New', Courier, monospace;
}
/* EL relleno sería el margen interno */
#seccion_2 {
    /* En el mismo padding (o margin) podemos poner los valor de arriba, derecha, abajo e izquierda: En el sentido de las agujas del reloj*/
    padding: 10px 20px 30px 40px;
}
/* Especifidad: 
    Cuanto mayor sea el ascendiente menos prioritario:
    - Tatarabuelo menos prioridad que abuelo, que asu vez menos que padre.
    -  En un mismo elemento:
    Cuanto más general sea el selector, menos prioridad
    Cuanto más específico, mayor importancia */ 
    /* Parrafo a secas, menos que div p*/
p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: red;
}
/* div p, párrafos descendientes de div, más que p pero menos que el siguiente*/
div  p {
    background-color: blue;
}
body div  p {
    background-color: palegoldenrod;
}
FUENTENORMAL = Arial, Helvetica, sans-serif;
/* El selector más usado, y el que debemos intentar usar siempre, es el de clase. Son más específicas que los selectores de etiquetas*/
.parrafo {
    font-family: FUENTENORMAL
}
.parrafo {
    font-family: FUENTENORMAL


}
/* El más específico es el selector por ID */
#parr_2 {
    border: 2px solid orange;
}
.header-h1-titulo {
    margin: 10px 5%;   /* 10px arriba y abajo, 5% laterales */
    margin: 10px auto; /* 10px arriba y abajo, lateral automático */
    text-align: center;
    max-width: 600px;
    border: 2px solid powderblue;
}
section h2 {
    display: none;  /* Ocultar */
}
.en-linea {
    display: inline;
}
.en-bloque {
    display: block;
}